.cluster-name{
  &:hover{
    color: blue;
    cursor: pointer;

  }
}

#myTabContent{
  width: 100%;
  height: 700px;
}

#inactive-cluster-tab{
  a{
    color: #495057;
  }
}

#active-cluster-tab{
  a{
    color: #167FFB;
  }
}