.cluster-name{
  &:hover{
    color: blue;
    cursor: pointer;

  }
}

#myTabContent{
  width: 100%;
  height: 700px;
}

#inactive-cluster-tab{
  a{
    color: #495057;
  }
}

#active-cluster-tab{
  a{
    color: #167FFB;
  }
}

#myTabContent{
  overflow: auto; 
  height: 43.75rem;
}

#cluster-list-tab{
  height: 43.75rem; 
}

#footer{
  font-size: small;
  color: #126e82;
  text-align: center;
  line-height: 1.6;
}